<% provide(:title, "BP") %>
<h1>BP</h1>

<body>
<p><br />&nbsp; &nbsp; &nbsp;R2PS3 env store host: slc03rmj: PROV(oam-oim-oid);&nbsp;slc03rfg: none-PROV(OAAM and OAM, WLS)</p>
<p><br />&nbsp; &nbsp; &nbsp;R2PS2 env store host: slc03rmj: OAM-OIM-WAS, OAAM-OAM-OIM-WAS, OAM-OIM-WLS, OAAM-OAM-OIM-WLS</p>
<p><br />&nbsp; &nbsp; &nbsp;R2PS1 env store host: slc00bsp: DB/OVD/OID + slc03nsp OAM+OIM, WLS</p>
<p><br />&nbsp; &nbsp; &nbsp;R2PS1 env store host: slc03nso: DB/OVD/OID + slc00bpp OAM+OIM, WAS</p>
<p><br />&nbsp; &nbsp; &nbsp;R2 env store host: slc00bqn: DB/OVD/OID + slc03nvf: OAM+OIM</p>
<p><br />&nbsp; &nbsp; &nbsp;R1PS1 env store host: slc02qdy(DB+OVD)+slc03nxi(OIM+OAM)</p>
<p><br />&nbsp; &nbsp; &nbsp;R1PS2 env store host: slc03rmj, wazheng_IDMautomation_autowork_r1ps2_fresh_software.2014.2.12.tgz, unzip to /scratch/wazheng/IDMautomation/autowork</p>

<br />
<br />
<a href="https://list-jason-yu-1.c9.io/">BACK</a>
</body>
