
<% provide(:title, "HOME") %>
<h1>List</h1>
<body>
    <div id="page">
      <div id="center">
        <ul id="center-items">
          <li>
            <h3>Browse the details</h3>
            <ul class="links">
              <li><a href="static_pages/UI">UI</a></li>
              <li><a href="static_pages/TOPOLOGIES">TOPOLOGIES</a></li>
              <li><a href="static_pages/BP">BP</a></li>
              <li><a href="static_pages/IDMTOOLS">IDMTOOLS</a></li>
              <li><a href="https://jason-demo-jason-yu.c9.io/microposts">Jason's microposts</a></li>
            </ul>
          </li>
        </ul>
      </div>
<body>
