<% provide(:title, "IDMTOOLS")%>
<h1>IDMTOOLS</h1>
<body>
<p>Get one host from farm<br />&nbsp; &nbsp; &nbsp; &nbsp; topo id: 82395<br />&nbsp; &nbsp; &nbsp; &nbsp;  block id: 177301</p>
<p>Upload to tlp:<br />&nbsp; &nbsp; &nbsp; &nbsp;TLP_UPLOAD=true<br />&nbsp; &nbsp; &nbsp; &nbsp;TLP_PROPERTY_FILE=%ADE_VIEW_ROOT%/idm/tlp.prp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#R2PS2<br />&nbsp; &nbsp; &nbsp; &nbsp;TLP_PROPERTY_FILE=/net/slc03nui/scratch/haisyu/tlp.prp &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;#R2PS3<br />&nbsp; &nbsp; &nbsp; &nbsp;TLP_PROPERTY_FILE=/net/slc03nui/scratch/haisyu/tlp_idmlcm.prp #IDMLCM BP GENERIC</p>
<p>How to run interop/integration test cases: <a href="http://aseng-wiki.us.oracle.com/asengwiki/pages/viewpage.action?pageId=5195825992">wiki</a></p>
<p>Auto Get IDMLCM running result:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; /net/slc03nui/scratch/haisyu/scripts/perl_curl_dif_fromDTE.pl</p>
<br />
<br />
<a href="https://list-jason-yu-1.c9.io/">BACK</a>
</body>
