<% provide(:title, "REPO") %>
<h1>REPO</h1>

<body>
<div>/net/slcnas458/export/fmw_idm/farm_idm_repos/IDM_11.1.2.3.0_GENERIC_150428.0713/Linux64</div>
<div>&nbsp;</div>
<div>JAVA</div>
<div>/net/adcnas418/export/farm_fmwqa/java/linux64/jdk7u80</div>
<div>/usr/local/packages/jdk_remote/jdk1.7.0_04-64bit</div>
<div>&nbsp;</div>
<div>DB 12C path:&nbsp;&nbsp;</div>
<div>/ade_autofs/ur01_dbem/RDBMS_12.1.0_LINUX.X64.rdd/RELEASE_12.1.0.2.0/install/shiphome/database*.zip</div>
<div>&nbsp;</div>
<div>AUTO_HOME</div>
<div>/usr/local/packages/aime/dte/DTE3</div>
<div>&nbsp;</div>
<div>BP GENERIC IDMLCM SHIPHOME</div>
<div>/ade_autofs/gd17_fmw/IDMLCM_11.1.2.3.0BP_GENERIC.rdd</div>
<br />
<br />
<a href="https://list-jason-yu-1.c9.io/">BACK</a>
</body>
